/* =========================
   RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: white;
}

/* =========================
   NAVBAR
========================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #ff7b00;
}

.menu {
    list-style: none;
    display: flex;
    gap: 35px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.menu a:hover {
    color: #ff7b00;
}

/* =========================
   HERO SECTION
========================= */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    background: linear-gradient(to right, #1a0f0a, #2b140c);
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 65px;
    line-height: 1.1;
}

.hero-text span {
    color: #ff7b00;
}

.hero-text p {
    margin: 25px 0;
    color: #ccc;
    font-size: 16px;
    width: 85%;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ff7b00;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #ffa94d;
}

/* IMAGEN HERO */
.hero-img {
    width: 40%;
}

.hero-img img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

/* =========================
   DESTACADOS
========================= */
.destacados {
    padding: 70px 80px;
    text-align: center;
    background-color: #111;
}

.destacados h2 {
    margin-bottom: 40px;
    font-size: 28px;
    color: #ff7b00;
}

.destacados-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* MINI CARDS */
.mini-card {
    background-color: #1c1c1c;
    padding: 15px;
    border-radius: 12px;
    width: 170px;
    transition: 0.3s ease;
}

.mini-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(255, 123, 0, 0.3);
}

.mini-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.mini-card p {
    font-size: 14px;
    font-weight: bold;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 60px 30px;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 40px;
    }

    .hero-img {
        width: 80%;
    }

    .destacados-grid {
        flex-wrap: wrap;
    }
}